   <div class="card-deck container" style="width: 30rem;">
    <div class="card">
        {{#if this.images.1.url}}
           <img class="card-img-top" src="{{this.images.0.url}}" alt="Card image cap">
           <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>

                <a href="/musica/{{id}}">Escuchar musica</a>

                <p class="card-text"><small class="text-muted">{{album_type}} {{release_date}} </small></p>
        </div>
           
        {{else}} 
           <img class="card-img-top" src="/images/sin_imagen.png" alt="Card image cap">
           <div class="card-body">
                <h5 class="card-title">{{this.name}}  <p>(sin Imagen)</p> </h5>

                 <a href="/musica/{{id}}">Escubar musica</a>

                <p class="card-text"><small class="text-muted">{{album_type}} {{release_date}} </small></p>
        </div>
           
        {{/if}}
        
    </div>
</div>            
               
              